<script type="text/javascript">
  <% if signed_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = { logo: "<%=image_path('traptitude.jpg')%>",
                    anno_demo_gif: "<%=image_path('anno-demo-gif.gif')%>"
                  }
</script>

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

<link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.bubble.css">

<script src="//cdn.quilljs.com/1.2.6/quill.js"></script>

<script src="https://fb.me/react-with-addons-0.13.3.min.js"></script>

<main id="root"></main>
