.top-ten-container {
  display: flex;
  width: 46%;
  left: 19%;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 10rem;
  flex-direction: column;
}

.top-ten-photo {
  width: 9.5%;
}

.top-three-photo {
  width: 15%;
  float: left;
}

.top-ten-musician {
  list-style: none;
}

.top-three-content {
  height: 77px;
  width: 100%;
  border-bottom: 1px solid #CCC;
}

.top-three-count {
  float: left;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  width: 5%;
  border: .13em solid #000;
  border-radius: 70%;
  margin-top: 4%;
  margin-right: 3%;
  margin-left: 3%;
}

.top-three-title {
  list-style: none;
  font-size: 33px;
  padding-top: 1.5%;
}

.top-ten-content {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #CCC;
}

.top-ten-photo {
  float: left;
  width: 9.7%;
}

.top-ten-info {
  padding-top: 3%;
}

.top-ten-count {
  float: left;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  width: 3%;
  margin-top: 2.5%;
  margin-left: 4.5%;
  margin-right: 4.7%
}

.top-ten-track-info {
  display: inline-block;
}

.top-one-content {
  height: 77px;
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 1px solid #CCC;
}

.top-tracks-header {
  width: 100%;
  padding-bottom: 12px;
}

.eye-top-ten {
  float: right;
}
