.album-form-page {
  background: black;
  height: 100%;
  position: absolute;
  width: 100%;
}

.album-form-header {
  color: white;
}

.album-form {
  color:white;
}

.album-title-form-input {
  background: white;
}

.album-musician-form-input{
  background: white;
}
