.top-ten-container {
  display: flex;
  max-width: 44em;
  left: 19%;
  margin: 0 auto;
  padding-top: 1rem;
  flex-direction: column;
  padding-left: 2em;
}

.top-three-info {
  margin-top: 2%;
}

.top-three-photo {
  width: 14.5%;
  float: left;
  padding-right: 2%;
}

.top-ten-musician {
  list-style: none;
}

.top-three-musician {
  font-size: .9em;
  float: left;
  text-transform: capitalize;
}

.top-three-content {
  height: 5em;
  width: 97%;
  border-bottom: 1px solid #CCC;
  display: flex;
}

.album-results:hover, .top-three-content:hover, .top-one-content:hover, .top-ten-content:hover {
  background: #e9e9e9;
}

.top-three-count {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: 1.2em;
  border: .13em solid #000;
  border-radius: 70%;
  margin-top: auto;
  margin-right: 3.5%;
  margin-left: 3%;
  margin-bottom: auto;
}

.top-three-title {
  list-style: none;
  font-size: 1.5em;
  padding-top: 1.5%;
  font-weight: bold;
  text-transform: none;
}

.top-ten-content {
  height: 3.2em;
  width: 97%;
  border-bottom: 1px solid #CCC;
  display: flex;
}

.top-ten-photo {
  width: 9.7%;
  padding-right: 2%;
}

.top-ten-info {
  padding-top: 2.5%;
}

.top-ten-count {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  width: 1.15em;
  margin-top: 2%;
  margin-left: 4.5%;
  margin-right: 3.5%;
}

.top-ten-track-info {
  display: inline-block;
  float: left;
  text-transform: capitalize;
}

.top-one-content {
  height: 5em;
  width: 97%;
  border-top: 3px solid black;
  border-bottom: 1px solid #CCC;
  display: flex;
}

.top-tracks-header {
  width: 100%;
  padding-bottom: 12px;
}

#top-albums {
  color: black;
  width: 100%;
  padding-bottom: 12px;
}

.eye-top-ten {
  float: right;
}

#featured-info {
  color: black;
  margin-bottom: 12px;
}

.featured-stories-container-background {
  background-color: white;
}

.featured-stories-container {
  padding-top: 1.5%;
  max-width: 68em;
  margin: 0 auto;
}

.gifs-are-here {
  display: flex;
  justify-content: space-between;
  max-width: 68em;
}

.anno-demo-gif {
  margin-bottom: 1em;
  width: 42em;
  height: 25em;
}

.add-album-demo {
  margin-bottom: 1em;
  margin-left: 1em;
  width: 26em;
  height: 25em;
}
