.album-show-page {
  overflow: hidden;
}

.album-background-photo {
  width: 125%;
  height: 330px;
  z-index: -10;
  object-fit: cover;
}

.album-total-info {
  width: 60%;
  z-index: 4;
  color: white;
}

.black-layer {
  width: 82%;
  position: absolute;
  background: black;
  height: 330px;
  z-index: 3;
  margin: 0 auto;
  color: black;
  margin-top: 0rem;
  margin-left: 10%;
  opacity: 0.8;
}

.album-background {
  display: flex;
}

.album-info-minus-photo {
  text-align: left;
  margin-left: 15.5em;
  width: 81%;
  padding-top: 5em;
  word-wrap: break-word;
  word-break: break-word;
}

.album-profile-photo {
  float: left;
  width: 15em;
  margin-left: -1.5em;
  border: 2px solid #9a9a9a;
  margin-top: 2.5em;
}

.album-title {
  font-size: 40px;
  word-wrap: break-word;
  word-break: break-word;
}

.album-musician {
  text-transform: capitalize;
  font-size: 21px;
  padding-top: 0.3rem;
  padding-bottom: .5rem;
}

.album-word {
  font-size: 13px;
  color: yellow;
  margin-bottom: .2rem;
}

.album-release-date {
  text-transform: capitalize;
  color: #9a9a9a;
}

.the-word-lyrics {
  text-transform: capitalize;
  color: #9a9a9a;
  padding-left: .3rem;

}

.track-count {
  color: #9a9a9a;
  font-weight: bold;
  width: 3%;
  font-size: 22px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: inherit;
  padding-bottom: inherit;
}

.track-title {
  float: left;
  text-transform: none;
}

.album-tracklist {
  padding-left: 1.5%;
  width: 36em;
}

.the-word-tracklist {
  color: #9a9a9a;
  font-weight: bold;
  padding-top: 2%;
}

.album-tracklist a {
  display: flex;
  width: 97%;
  border-bottom: 1px solid #9a9a9a;
  padding: 1.5% 0;
}

.features {
  float: left;
  text-transform: capitalize;
  padding-left: .3rem;
  text-transform: none;
  font-size: 0.9em;
}

.tracks-content {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  padding-top: inherit;
  padding-bottom: inherit;
}

.flex-tracklist-and-add-track-edit-track {
  display: flex;
  width: 82%;
  margin-left: 10%;
  justify-content: space-between;
}

.add-track {
  text-align: right;
  color: #9a9a9a;
  margin-top: 1%;
  font-weight: bold;
  margin-right: 0.2em;
  text-transform: none;
  margin-bottom: 10%;
}
