.annotation-window {

}

.ql-bubble * {
  height: 11em;
  background: #f7f7f7;
}

.ql-container {
  border: 1px solid #99a7ee;;
}

.annotation-submit-button {
  color: #00b300;
  border: 2.3px solid #00b300;
  padding-left: .5em;
  padding-right: .5em;
  height: 2em;
}

.annotation-submit-button:hover {
  background-color: rgba(14,203,39,.2);
}

.less-than-for-annotation {
  position: absolute;
  font-size: 80px;
  right: 4.5em;
  top: 0.64em;
  color: #99a7ee;
}

.line-one-anno {
  position: absolute;
  font-size: 62px;
  right: 5.8em;
  top: -0.5em;
  color: #99a7ee;
  font-weight: bold;
}

.line-two-anno {
  position: absolute;
  font-size: 62px;
  right: 5.8em;
  top: 0.36em;
  font-weight: bold;
  color: #99a7ee;
}

.line-three-anno {
  position: absolute;
  font-size: 62px;
  right: 5.8em;
  top: 1.58em;
  font-weight: bold;
  color: #99a7ee;
}

.line-four-anno {
  position: absolute;
  font-size: 62px;
  right: 5.8em;
  top: 2.4em;
  font-weight: bold;
  color: #99a7ee;
}

.line-five-anno {
  position: absolute;
  font-size: 62px;
  right: 5.8em;
  top: 2.8em;
  font-weight: bold;
  color: #99a7ee;
}
