.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.top-footer {
  padding-top: 0.4em;
  color: white;
  align-self: center;
  text-transform: none;
}

.bottom-footer {
  padding-bottom: 0.4em;
  color: white;
  align-self: center;
  text-transform: none;
}

.hover-link:hover, #featured-stories-link.hover-link:hover,
#top-albums-link.hover-link:hover, #linkedin-icon.hover-link:hover,
#github-icon.hover-link:hover, #add-album.hover-link:hover {
  color: #ffff64;
}

// below css is for a sticky footer
.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Site-content {
    flex: 1 0 auto;
    width: 100%;
    text-transform: uppercase;
}
.Site-content:after {
    display: block;
    margin-top: var( — space);
    height: 0;
    visibility: hidden;
}
