.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.top-footer {
  padding-top: 0.4em;
  color: white;
  align-self: center;
  text-transform: none;
}

.bottom-footer {
  padding-bottom: 0.4em;
  color: white;
  align-self: center;
  text-transform: none;
}

.hover-link:hover {
  color: #ffff64;
}
