.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.top-footer {
  color: white;
  align-self: center;
  text-transform: none;
}

.bottom-footer {
  color: white;
  align-self: center;
  text-transform: none;
}
