.nav-bar {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  background: black;
  z-index: 4;
}

.nav-bar a {
  text-decoration: none;
  padding: 4px;
}

#featured-stories {
  color: white;
  padding-top: .55rem;
  padding-left: 0rem;
  padding-right: .55rem;
}

#top-tracks {
  position: relative;
  color: white;
  padding-top: .55rem;
  padding-right: 1rem;
}

#github-icon {
  color: white;
  position: relative;
  top: 1px;
}

#linkedin-icon {
  color: white;
  position: relative;
  top: 1px;
}

#forums {
  padding-top: .55rem;
  color: white;

}

#add-album {
  color: white;
  padding-top: .55rem;
  padding-left: .55rem;
}

#first-bar {
  color: white;
  padding-top: .3rem;
  font-size: 21.5px;
  padding-right: .55rem;
}

#second-bar {
  color: white;
  font-size: 21.5px;
  padding-top: .3rem;
  padding-left: .55rem;
  padding-right: .55rem;
}

.nav-bar-seperator-line {
  color: white;
  position: relative;
  top: 3px;
  font-size: 27px;
  font-weight: lighter;
  right: 21px;
}

.top-header {
  background-color: #ffff64;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.user-input {
  padding-right: 20px;
  display: flex;
  font-size: 13px;
}

.username {
  position: relative;
  left: -12px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
}

.password {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.logo {
  height: 2.5em;
  overflow: hidden;
  top: 0em;
  width: 20em;
  left: 24em;
  display: flex;
  justify-content: center;
}

.logo-picture {
  height: 2.5em;
}
