.hidden {
  display: none;
}

.horizontal-bar {
  border: 0.5px solid #9a9a9a;
}

.search-results-header {
  margin-top: 0.5em;
  line-height: 1em;
  padding-left: 1em;
  margin-bottom: 0;
}

.search-results {
  position: absolute;
  background-color: #f7f7f7;
  top: 3em;
  left: 2em;
  z-index: 99999;
  min-width: 20em;
}

.search-album-image {
  max-width: 70px;
  max-height: 70px;
}

.search-bar-input {
  background-color: white;
  text-transform: none;
  width: 9em;
  height: 0.9em;
  box-shadow: 0 0 3px #e9e9e9 inset;
  padding: 0.4rem 2rem 0.3rem 0.5rem;
}

.search-bar {
  margin-left: 8px;
}

.album-results {
  display: flex;
  background-color: white;
  margin-bottom: 0.2em;
}

.album-results-title-musician {
  flex-direction: column;
  margin-top: 0.7em;
  line-height: 1.2em;
}

.no-text-transform {
  text-transform: none;
}

.album-results-header {
  margin: 0;
  font-size: 14px;
  padding-left: 1.3em;
  color: #9a9a9a;
  line-height: 2em;
}
