.username-input-container {
  position: relative;
  bottom: 25px;
  border: .15rem solid #ccc;
  background: white;
  height: 30px;
}

.username-input {
  background: white;
  position: relative;
  text-transform: capitalize;
  width: 98%;
  margin: -4px;
  top: 5px;
  right: -9px;
}

.password-input-container {
  position: relative;
  bottom: 15px;
  border: .15rem solid #ccc;
  background: white;
  height: 30px;
}

.password-input {
  background: white;
  position: relative;
  text-transform: capitalize;
  width: 98%;
  margin: -4px;
  top: 5px;
  right: -9px;
}

.create-or-login {
  color: #99a7ee;
  position: relative;
  top: -26px;
}

.dividing-line {
  border: 1px solid #99a7ee;
  position: relative;
  bottom: 2px;
}

.email-input-container {
  position: relative;
  bottom: 20px;
  border: .15rem solid #ccc;
  background: white;
  height: 30px;
}

.email-input {
  background: white;
  position: relative;
  text-transform: capitalize;
  width: 98%;
  margin: -4px;
  top: 5px;
  right: -9px;
}

.submit-button {
  border: .1rem solid #000;
  padding: .25rem .5rem;
  line-height: 1.4rem;
  position: relative;
  bottom: 7px;
}

.guest-login {
  border: 0.1rem solid #000;
  padding: .25rem .5rem;
  line-height: 1.4rem;
  position: relative;
  left: 8px;
  bottom: 7px;
}

.switch-sign-up {
  border-bottom: 2px solid #ccc;
  width: 30%;
  text-align: center;
  position: relative;
  font-weight: bold;
  top: 3px;
  color: #ccc;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.switch-sign-in {
  border-bottom: 2px solid #ccc;
  width: 59%;
  text-align: center;
  position: relative;
  top: 3px;
  color: #ccc;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.04em;
}
